
body {
    font-family: 'Droid Sans Mono', sans-serif;
    background: white;
}

#footer {
    padding-top: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#footer ul {
    display: inline;
    margin: 0px;
    padding: 0px;
}

#footer ul li {
    list-style: none;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

#search_index {
    margin-top: 1em;
    margin-bottom: 1em;
}

#search_index.example {
    font-size: 80%;
}

#search_search {
    margin-bottom: 2em;
    text-align: center;
}

#searchwidget {
    display: inline;
}

#searchwidget input[type="text"] {
    border: none;
    border-bottom: 1px dotted black;
}

#searchwidget input[type="submit"] {
    color: #7f7f7f;
    background: white;
    border: 1px solid #7f7f7f;
}

.alt {
    color: #7f7f7f;
}

#header,
#footer,

.col_header,
.col_content,
.col_footer {
    text-align: center;
}

h1 { margin-top: 0.5em; }
h1 a { color: #000000; text-decoration:none; text-transform: capitalize; }

.col_content.tag_excepted h2 { color: #3ca52b; }
.col_content.tag_excepted h2 a { color: #7f7f7f; }
.col_content.tag_excepted h2.reverse { color: #7f7f7f; }
.col_content.tag_excepted h2.reverse a { color: #3ca52b; }

.col_content.tag_counterversial h2 { color: #e75018; }
.col_content.tag_counterversial h2 a { color: #7f7f7f; }
.col_content.tag_counterversial h2.reverse { color: #7f7f7f; }
.col_content.tag_counterversial h2.reverse a { color: #e75018; }

.col_content.tag_clustering h2 { color: #008bd0; }
.col_content.tag_clustering h2 a { color: #7f7f7f; }
.col_content.tag_clustering h2.reverse { color: #7f7f7f; }
.col_content.tag_clustering h2.reverse a { color: #008bd0; }

.col_content li {
    list-style: none;
    text-transform: capitalize;
}

.col_content li a { text-decoration: none; }
.col_content li a:hover { text-decoration: underline; cursor: pointer; }

#footer ul li {
    list-style: none;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}
