
body {
    font-family: 'Droid Sans Mono', sans-serif;
    background: white;
}

a { color: black; text-decoration: none; }
a:hover {  color: black; text-decoration: underline; }

#footer {
    margin-bottom: 1em;
}

#footer ul {
    display: inline;
    margin: 0px;
    padding: 0px;
}

#footer ul li {
    list-style: none;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}

#content {
    margin-top: 1em;
    margin-bottom: 1em;
}

#search_index {
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.4em;
    text-align: center;
}

#search_index .example {
    font-size: 0.8em;
}

#search_search {
    margin-bottom: 2em;
    text-align: center;
}

#searchwidget {
    display: inline;
}

#searchwidget input[type="text"] {
    border: none;
    border-bottom: 1px dotted black;
}

#searchwidget input[type="submit"] {
    color: #e75018;
    background: white;
    border: 1px solid #e75018;
}

.alt {
    color: #7f7f7f;
}

#header,
#footer,
.col_header,
.col_content,
.col_footer {
    text-align: center;
}

.col_header {
    margin-bottom: 17px;
}

h1 { margin-top: 0.5em; }
h1 a { color: #000000; text-decoration:none; text-transform: capitalize; }

h2 { font-size: 130%; text-align: center; }

.tag_expected { color: #3ca52b; border-color: #3ca52b; }
.tag_controversial { color: #e75018; border-color: #e75018; }
.tag_aggregating { color: #008bd0; border-color: #008bd0; }

.col_content .tag_expected h2 { color: #3ca52b; }
.col_content .tag_expected h2 a { color: #7f7f7f; }
.col_content .tag_expected h2.reverse { color: #7f7f7f; }
.col_content .tag_expected h2.reverse a { color: #3ca52b; }

.col_content .tag_controversial h2 { color: #e75018; }
.col_content .tag_controversial h2 a { color: #7f7f7f; }
.col_content .tag_controversial h2.reverse { color: #7f7f7f; }
.col_content .tag_controversial h2.reverse a { color: #e75018; }

.col_content .tag_aggregating h2 { color: #008bd0; }
.col_content .tag_aggregating h2 a { color: #7f7f7f; }
.col_content .tag_aggregating h2.reverse { color: #7f7f7f; }
.col_content .tag_aggregating h2.reverse a { color: #008bd0; }

.col_content li {
    list-style: none;
    text-transform: capitalize;
}

.col_content li a { text-decoration: none; }
.col_content li a:hover { text-decoration: underline; cursor: pointer; }

hr.tag { border: 0; display: block; height: 1px; margin: 0 0 5px 0; }
hr.tag_expected { background-color: #3ca52b; color: #3ca52b; }
hr.tag_controversial { background-color: #e75018; color: #e75018; }
hr.tag_aggregating { background-color: #008bd0; color: #008bd0; }

#footer ul li {
    list-style: none;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
}
