{
  "cache_dir" : "cache",
  "cache_duration_min" : 7200,
  "cache_duration_max" : 604800,
  "consumer_key" : "****",
  "consumer_secret" : "****",
  "db_adapter" : "sqlite3",
  "db_database" : "vocabularise.sqlite3"
}
