-# vim: set ts=4 sw=4 noet :
!!! 5
%html
	%head
		%title= "vocabulari.se - %s" % @title
		-# google droid fonds
		%link{:rel => "stylesheet", :type => "text/css", :href => 'http://fonts.googleapis.com/css?family=Droid+Sans+Mono' }
		-# blueprint css
		%link{:rel => "stylesheet", :type => "text/css", :media => "print", :href=>"/css/blueprint/print.css" }
		%link{:rel => "stylesheet", :type => "text/css", :media => "screen, projection", :href=>"/css/blueprint/screen.css" }
		/[if IE lt 8]
			%link{:rel => "stylesheet", :type => "text/css", :media => "screen, projection", :href=>"/css/blueprint/ie.css" }
		-# jquery related
		%link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href=>"/css/ui-lightness/jquery-ui-1.8.16.custom.css" }
		%script{ :type => "text/javascript", :src=>"/js/jquery-1.6.2.min.js" }
		%script{ :type => "text/javascript", :src=>"/js/jquery-ui-1.8.16.custom.min.js" }
		-# vocabularise content
		%link{:rel => "stylesheet", :type => "text/css", :media => "screen", :href=>"/css/common.css" }
		= yield_content :headers

		-# less important things
		%script{ :type => "text/javascript", :src=>"/js/uservoice.js" }

		%body
			.container
				#header.prepend-6.span-12.last
					%h1
						%a{:href=>"/"} vocabulari.se
					%hr.tag.tag_expected
					%hr.tag.tag_controversial
					%hr.tag.tag_aggregating
				#content.span-24.last
					= yield
				#footer.prepend-6.span-12.last
					%hr.tag.tag_expected
					%hr.tag.tag_controversial
					%hr.tag.tag_aggregating
					%ul
						%li.span-4
							%a{:href => '/about'} about
						%li.span-4
							%a{:href => 'http://vocabularise.blogspot.com/', :target => '_blank' } news
						%li.span-4.last
							%a{:href => '/credits'} credits
