-# vim: set ts=4 sw=4 noet :
- content_for :headers do
	%script{ :type => "text/javascript", :src=>"/js/page_search.js" }

#search_search.span-24.last
	%strong vocabulari.se the word
	= haml :widget_search


.col_header.tag_expected.span-7
	top-arrow

.col_header.tag_counterversial.span-10
	top-arrow

.col_header.tag_aggregating.span-7.last
	top-arrow

%hr

.col_content.tag_expected.span-7.colborder
	%h2
		%a>< (un)
		expected

	%ul.taglist
		%li<
			%img(src="/images/ajax-loader-bar.gif")

.col_content.tag_counterversial.span-8.colborder
	%h2
		%a>< (un)
		counterversial

	%ul.taglist
		%li<
			%img(src="/images/ajax-loader-bar.gif")

.col_content.tag_aggregating.span-7.last
	%h2
		%a>< (un)
		aggregating

	%ul.taglist
		%li<
			%img(src="/images/ajax-loader-bar.gif")

%hr

.col_footer.tag_expected.span-7
	bottom-arrow

.col_footer.tag_counterversial.span-10
	bottom-arrow

.col_footer.tag_aggregating.span-7.last
	bottom-arrow

