%a
	vocabulari.se 
is a search tool addressed to researchers to explore a social
network of research objects, help them choose the wording of their abstracts or
the tagging of their papers, and discover their research interests in new ways.
This tool is grounded in “science studies” [liens vers les résultats de
vocabulari.se] which show that research objects have a social, even political,
life of their own… let us play with it! And open the black box of the
ubiquitous yet poor tagging system as the ultimate linking device of words…


%a
	vocabulari.se 
searches for terms related to a given term (i.e. a research
object, treated as a Mendeley tag or a Wikipedia entry) according to three
qualities of relationships:
%ol
	%li 
		Unexpected relationships (i.e. not frequent yet effective) that give
		originality to research 
	%li 
		Controversial relationships (i.e most discussed on Wikipedia) that
		widen the audience P		    
	%li 
		Aggregating relationships (i. e. most multidisciplinary Mendeley
		associations) that bridge the gap
		with other disciplines' interests.
