= haml :widget_search

%hr

#hot.span-7.colborder
  %h2 Hot
  %ul
    %li a
    %li b
    %li c

#extra.span-8.colborder
  %h2 Extradisciplinary
  %ul
    %li c
    %li a
    %li b

#what.span-7.last
  %h2 Whatever
  %ul
    %li a
    %li c
    %li b

%hr
