%p= "Results for: %s" % @query
= haml :widget_search

%div#hot
  %h2 Hot
  %ul
    %li a
    %li b
    %li c

%div#extra
  %h2 Extradisciplinary
  %ul
    %li c
    %li a
    %li b

%div#what
  %h2 Whatever
  %ul
    %li a
    %li c
    %li b
