-# vim: set ts=4 sw=4 noet :

.span-12.prepend-6.last
	%h2 
	%dl
		%dt Original idea &amp; project lead
		%dd 
			%a{ :href => "mailto:axel_meunier@yahoo.fr" } Axel Meunier
			and 
			%a{ :href => "http://www.deuxieme-labo.fr" } Deuxième labo

		%dt Code development &amp; integration 
		%dd 
			%a{ :href => "http://www.gnuside.com" } Gnuside

		%dt Graphic design
		%dd
			%a{ :href => "mailto:jeremie.elalouf@gmail.com" } Jérémie Elalouf

		%dt Technical advice
		%dd 
			%a{ :href => "mailto:pierre@plebia.org" } Pierre Maumont

	%p 
		We also thank Jonathan Parienté, Joël Gombin, Emmanuel de Maistre and
		Matthieu Rouchouse for their support, food and conversation.

	%p 
		%a{ :href => "/" } vocabulari.se 
		is dedicated to Mendeley, Wikipedia, and everyone who
		made them possible. It is not, however, dedicated to those who lock
		down scientific publications and humanity’s knowledge.

	%p
		Powered by Mendeley and Wikipedia
		/[logos voir dans droopbox + liens vers les sites]

	%p
		Contact us at  
		%a{ :href => "mailto:contact@vocabulari.se" }
			contact@vocabulari.se

