-# vim: set ts=4 sw=4 noet :
%form#searchwidget{:method=>"get", :action=>"/search?"}
	%input{:type=>"text", :id=>"searchwidget_query", :name=>"query", :value => @query }
	%input.tag_counterversial{:type=>"submit", :value=>"Search" }
